streamlit
openai
anthropic
streamlit-mermaid
google-generativeai
python-docx
pypandoc
beautifulsoup4
youtube-transcript-api
python-dotenv
unstructured-client
unstructured
langchain
langchain-openai
langchain-community
faiss-cpu
rank-bm25
requests